# Configuração do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=sislote
DB_PASSWORD=sislote
DB_NAME=sislote

# Configuração da API
PORT=3334
JWT_SECRET=segredo_super_seguro_para_producao_troque_isso

# Opcional: Se precisar rodar migrações automaticamente
RUN_MIGRATIONS=true
